<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Додати дані піци</h1>
<form method="POST">
    <label>id піци</label>
    <input type="number" name="id" placeholder="Введіть id піци" required> <br/>
    <label>ім'я піци</label>
    <input type="text" name="name" placeholder="Введіть ім'я піци" required> <br/>
    <label>кількість піци</label>
    <input type="number" name="count_pizzas" placeholder="Введіть кількість піци" required> <br/>
    <label>ціна піци</label>
    <input type="number" name="price" placeholder="Введіть ціну піци" required> <br/>
    <label>опис піци</label>
    <input type="text" name="description" placeholder="Введіть опис піци" required> <br/>
    <input type="submit" value="submit">
</form>
</body>
</html>