<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Додати дані заказів</h1>
<form method="POST">
    <label>id заказу</label>
    <input type="number" name="id" placeholder="Введіть id заказа" required> <br/>
    <label for="name_pizza">назва піци:</label>
    <select name="name_pizza" id="name_pizza">
        <option value="Margarita">Маргаріта</option>
        <option value="Pepperoni">Пепероні</option>
        <option value="Four cheese">Чотири сири</option>
    </select> <br/>
    <label>юзернейм клієнта</label>
    <input type="text" name="username" placeholder="Введіть юзернейм клієнта" required> <br/>
    <label>ім'я клієнта</label>
    <input type="text" name="name" placeholder="Введіть ім'я клієнта" required> <br/>
    <label>номер телефону клієнта</label>
    <input type="number" name="phone_number" placeholder="Введіть номер телефону кліента" required> <br/>
    <label>кількість піцц</label>
    <input type="number" name="count" placeholder="Введіть кількість піцц" required> <br/>
    <label>ціна ціцц</label>
    <input type="number" name="price" placeholder="Введіть ціну піцц" required> <br/>
    <label>локація клієнта</label>
    <input type="text" name="location" placeholder="Введіть локацію клієнта" required> <br/>
    <label>готовність замовлення</label>
    <input type="text" name="complete_order" placeholder="Введіть готовність замовлення(True або False)" required> <br/>
    <input type="submit" value="submit">
</form>
</body>
</html>