<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Змінити дані заказів</h1>
<form method="POST">
    <label>id заказу</label>
    <input type="number" name="id" placeholder="Введіть id піци" required> <br/>
    <label>ім'я клієнта</label>
    <input type="text" name="name" placeholder="Введіть ім'я клієнта"> <br/>
    <label>номер телефону клієнта</label>
    <input type="number" name="phone_number" placeholder="Введіть номер телефону кліента"> <br/>
    <label>локація клієнта</label>
    <input type="number" name="price" placeholder="Введіть локацію клієнта"> <br/>
    <label>готовність замовлення</label>
    <input type="text" name="complete_order" placeholder="Введіть готовність замовлення(True або False)"> <br/>
    <input type="submit" value="submit">
</form>
</body>
</html>